@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
	font-family: "Open Sans", Helvetica, arial, sans-serif;
}

.jumbotron {
	margin-top: 100px;
}

.jumbotron > h1 {
	text-align: center;
}

.btn-lg {
	width: 50%;
}